body {
    margin: 0;
    background-image: url("../../assets/img/jf_bg2048.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: rgb(230,230,230);
    font-family: 'Oxygen', 'sans-serif' ;
}
textarea {
    resize:none;
}
html {
    scroll-behavior: smooth;
  }
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* _________________________________________________________HEADER_________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
.navbar{
    position: fixed;
    height: 80px;
    background-color: rgba(0,40,40,1);
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    box-shadow: 5px 5px 10px 0px black;
}
header a{
    text-decoration: none;
    color: rgb(230,230,230);
}
header .end-row li{
    list-style: none;
}
header .end-row{
    display: inherit;
}
header .menu-burger-main{
    display: none;
}
header h1 {
    text-shadow: 2px 2px 2px black;
    font-size: 2em;
    margin-top: 10px;
}
.link_jf a::after, .button_jf::after{
    height: 3px;
    content: "";
    transition: all 0.4s ease;
    transform: translateX(-210%);
    background-color: rgb(2, 174, 108);
    width: 50%;
    box-shadow: -2px 2px 3px 0px black;
}
.link_jf a{
    padding: 20px;
    text-decoration: none;
    color: rgb(2, 174, 108);
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    margin: 0 4px;
    transition: all 0.4s ease;
    text-shadow: 2px 2px 2px black;
}
.link_jf:hover a::after{
    transform: translateX(0%);
}
.link_jf:hover a {
    color: rgb(230,230,230);
}
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* _________________________________________________________MAIN___________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
h2 {
    text-align: center;
}
.bienvenue h1{
    color: rgb(230,230,230);
    text-shadow: 1px 1px 4px black;
    margin: 250px auto 200px auto;
    text-align: center;
    font-size: 4em;
}
.article_container {
    margin-top: 80px;
}
.article_content{
    padding: 20px 5%;
    margin: 115px 15%;
    border-radius: 20px;
    background-color: rgba(0,10,10,0.8);
    /*display: flex;*/
    flex-flow: row wrap;
    word-break: break-word;
}
.article_content img{
    max-width: 100%;
    height: auto;
}
.button_container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.button_jf{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease;
    background: transparent;
    color: rgb(2, 174, 108);

    /* inherit font & color from ancestor */
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}
.button_jf:hover::after{
    transform: translateX(0%);
}
.button_jf:hover {
    color: rgb(230,230,230);
}
.alert-reset {
    text-align: center;
    padding: 20px;
    background-color: rgb(39, 144, 10);
    width: fit-content;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0px black;
    text-shadow: 2px 2px 2px black;
}
.alert-success {
    text-align: center;
    padding: 20px;
    background-color: rgb(39, 144, 10);
    width: fit-content;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0px black;
    text-shadow: 2px 2px 2px black;
}
.alert-danger {
    text-align: center;
    padding: 20px;
    background-color: rgb(144, 10, 10);
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    margin-top: 100px;
    box-shadow: 3px 3px 10px 0px black;
    text-shadow: 2px 2px 2px black;
}
/* ------------------------------------ Sidebar ----- --------------------------------------*/
.sidebar {
    float: left;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    position: fixed;
    top: 80px;
    border-bottom-right-radius: 30px;
    transform: translateX(-370px);
    transition: all ease 0.5s;
    width: 380px;
    border-right: 3px rgb(2, 174, 108) solid;
    box-shadow: 3px 3px 10px 0px black;
    text-shadow: 2px 2px 2px black;
}
.sidebar:hover {
    transform: translateX(0px);
}
.sidebar ul {
    word-break: break-word;
    overflow: hidden;
    margin-right: 30px;
}
.sidebar ul a {
    text-decoration: none;
    color: inherit;
}
.sidebar ul li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 1.2em;
}
/* ------------------------------------ Diaporama    --------------------------------------*/
.btn_container {
    background-color: rgba(0,10,10,0.8);
    height: 40px;
    width: 120px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -115px;
}
.btn_container_bottom {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -115px;
}
#slider_next, #slider_prev{
    height: 30px;
    width: 30px;
    background-color: rgb(2, 174, 108);
    cursor: pointer;
    border-radius: 50%;
    margin: 5px 10px;
    box-shadow: 1px 1px 5px black;
}
#slider_next_bottom, #slider_prev_bottom{
    height: 30px;
    width: 30px;
    background-color: rgb(2, 174, 108);
    cursor: pointer;
    border-radius: 50%;
    margin: 5px 10px;
    box-shadow: 1px 1px 5px black;
}
.titre_livre{
    background-color: rgba(0,10,10,0.8);
    text-align: center;
    padding: 20px;
}
.diapo_visible {
    display: block;
    box-shadow: 5px 5px 10px 0px black;
}
.diapo_invisible{
    display: none;
}
.invisible {
    display: none;
}

/* ------------------------------------ Article seul --------------------------------------*/
.com_crud {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: flex-end;
}
.com_date {    
    font-size: 0.7em;
    margin: 0;
    width: 100%;
}
.article_comment {
    margin: 0;
    width: 100%;
    background: none;
}
.article_content .titre_article {
    color: rgb(2, 174, 108);
    text-align: center;
    font-size: 2em;
}
/* ------------------------------------ Footer        --------------------------------------*/
.btn_up {
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(230,230,230);
    right: 10px;
    bottom: 10px;
}
/*=================================================================================================================================*/
/*========================================================FORMULAIRE===============================================================*/
/*=================================================================================================================================*/
/* ------------------------------------ Register  --------------------------------------------------------*/
.jf_form{
    padding: 30px 10%;
}
.jf_form .form-group {
    padding-left: 300px;
    margin: 10px 0;
}
.jf_form .form-group input{
    background: none;
    border: 1px solid rgb(100,100,100);
    height: 25px;
    color: rgb(230,230,230);
    padding-left: 10px;
}
.jf_form label{
    float: left;
    margin-left: -305px;
}
.jf_form .button_jf{
    margin-left: 300px;
}
.jf_form .form-group a{
    color: inherit;
    font-size: 0.8em;
    text-decoration: none;
}
.remember_me{
    margin-left: -305px;
}
.danger-register{
    margin-top: 0px;
    margin-bottom: 2px;
}
.notif :first-child {
    margin-top: 110px !important;
}
/* ------------------------------------ écrire un commentaire --------------------------------------*/
#comment_textarea {
    width: 100%;
    height: 90px;
    background-color: rgba(0,0,0,0.1);
    color: rgb(230,230,230);
    font-family: Oxygen, sans-serif;
    padding: 0 7px;
    border: solid 1px rgb(50, 50, 50);
}
#edit_comment_text_area {
    width: 100%;
    height: 90px;
    background-color: rgba(0,0,0,0.1);
    color: rgb(230,230,230);
    font-family: Oxygen, sans-serif;
    padding: 0 7px;
    border: solid 1px rgb(50, 50, 50);
}
.comment_textarea {
    width: 100%;
    height: 90px;
    background-color: rgba(0,0,0,0.1);
    color: rgb(230,230,230);
    font-family: Oxygen, sans-serif;
    padding: 0 7px;
    border: solid 1px rgb(50, 50, 50);
}
#btn_comment{
    padding: 10px;
    text-decoration: none;
    color: rgb(2, 174, 108);
    margin: 0 4px;
    border-radius: 3px;
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 20px;
}
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* _________________________________________________________ACCOUNT________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
.page_container {
    border-radius: 20px;
    margin: 80px 5%;
    background-color: rgba(0,0,0,0.6);
}
.account_header {
    text-align: center;
}
.account_crud h3 {
    text-align: center;
}
.account_crud ul {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
.account_crud li {
    list-style-type: none;
}
.jf_form_article h3{
    text-align: center;
}
/* ------------------------------------Article account ---------------------------------*/
.article_container_account {
    display: block;
}
.view_account{
    cursor: pointer;
}
#account_view_article{
    margin: 0 5%;
}
#account_view_article .titre_article_admin{
    text-decoration: none;
    color: inherit;
}
#account_view_article .article_content {
    padding: 20px;
    margin: 10px;
    border: 1px solid white;
    width: 20%;
}
.article_content h3{
    overflow: hidden;
    text-overflow: ellipsis; 
    word-break: break-word;
    width: 100%;
}
.container_visible {
    display: flex;
    flex-flow: row wrap;
}
.container_not_visible {
    display: none;
}
.article_not_visible {
    display: none;
}
/* ------------------------------------Comment account ---------------------------------*/
.comment_bis {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}
.article_comment_account {
    width: 29%;
    margin: 8px;
    border: 1px solid white;
    padding: 1%;
    overflow: hidden;
    word-break: break-word;
    background-color: rgba(0,10,10,0.8);
    border-radius: 20px;
}
.view_comment, .view_comment_reported{
    cursor: pointer;
}
.reported {
    color:red;
    width: 100%;
    text-align: end;
}
.reported_comment {
    display: flex;
    flex-flow: row wrap;
    margin: 0 2%;
}

/* ------------------------------------Formulaire account -----------------------------*/
.account_gestion .jf_form .form-group {
    padding: 0;
    text-align: center;
}
.account_gestion .jf_form .button_jf {
    margin: auto;
}
.acc_detail {
    font-size: 0.7em;
    text-align: center;
    width: 100%;
}
.account_gestion .form-control {
    width: 200px;
}

/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* _________________________________________________________TinyMCE________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
.tox-tinymce {
    min-height: 500px;
}
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* _________________________________________________________FOOTER_________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* _________________________________________________________MEDIA QUERY____________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
/* ________________________________________________________________________________________________________________________________*/
@media screen and (max-width: 768px) {
    .article_container {
        margin-top:80px;
    }
    .article_content {
        margin: 115px 5%;
    }
    header .end-row {
        display: none;
    }
    header .navbar {
        align-items: inherit;
        justify-content: space-between;
    }
    header .navbar .nav-item{
        margin-left: 4%;
    }
    header .menu-burger-main{
        display: block;
    }
    header .nav-wrapper{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    header .menu_checkbox{
        opacity: 0;
        position: absolute;
    }
    header .menu-burger{
        overflow: hidden;
        max-height: 0;
        flex-basis: 100%;
        margin: 0;
        list-style: none;
    }
    header .menu-burger li{
        background-color: rgba(0,0,0,0.8)
    }
    header .menu-toggle {
        display: block;
    }
    header .icon-burger {
        height: 50px;
        padding: 15px;
    }
    .menu_checkbox:checked~.menu-burger {
        max-height: 1000px;
    }
    .article_comment {
        margin: 0;
        width: auto;
    }
    /* ------------------------------------Création d'article       -----------------------------*/
    #container .jf_form {
        padding: 0;
    }
    /* ------------------------------------Formulaire Account Admin -----------------------------*/
    #account_view_article .article_content {
        width: 100%;
    }
    .article_comment_account {
        width: 100%
    }
    .page_container {
        margin: 0;
        margin-top: 80px;
    }
}
@media screen and (max-width: 425px) {
    header .navbar .nav-item{
        margin-left: 0;
        left: 4%;
        position: absolute;
    }
    header .navbar {
        justify-content: flex-end;
    }
    header .navbar .menu-toggle{
        margin-right: -100px;
    }
    .article_content {
        margin: 0;
        margin-top: 80px;
    }
    .article_content .titre_article{
        padding:0;
        margin-left:0;
    }
    .sidebar {
        padding: 0px;
        transform: translateX(-240px);
        width: 250px;
        border-right: 1px rgb(2, 174, 108) solid;
    }
    .sidebar h2 {
        margin-right: 20px;
    }
    .sidebar ul {
        padding-left: 10px;
    }
    .btn_container {
        margin-bottom: -80px;
    }
    .btn_container_bottom {
        margin-top: 0px;
    }
    #comment_textarea {
        width: auto;
    }
    /* ------------------------------------Formulaire Register -----------------------------*/
    .jf_form .form-group {
        padding-left: 0;
    }
    .jf_form label {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .jf_form .button_jf{
        margin-left: 0;
    }
        
}