body {
    margin: 0;
    background-image: url("../../assets/img/jf_bg2048.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: rgb(230,230,230);
    font-family: 'Amita', 'sans-serif' ;
}
.navbar{
    position: fixed;
    height: 80px;
    background-color: rgba(0,0,0,1);
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color: rgb(230,230,230);
}
header .end-row{
    display: inherit;
}
.button_header a::after{
    height: 3px;
    content: "";
    transition: all 0.4s ease;
    transform: translateX(-210%);
    background-color: rgb(2, 174, 108);
    width: 50%;
}
.button_header a{
    padding: 20px;
    text-decoration: none;
    color: rgb(230,230,230);
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    margin: 0 4px;
}
.button_header:hover a::after{
    transform: translateX(0%);
}
.article_container{
    margin: 80px 5%;
    background-color: rgba(0,0,0,0.8);
    padding-bottom: 20px;
}
.article_content{
    padding: 20px 20%;
    margin: 30px 2%;
}
.button_container{
    display: flex;
    justify-content: flex-end;
}
.jf_button{
    border: none;
    background: none;
    padding: 0;
    margin: 20px 5px;
}
.jf_button a{
    background-color: rgba(2, 174, 108, 0.4);
    border: 2px solid rgba(2, 174, 108, 1);
    border-radius: 5px;
    color: rgb(230,230,230);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.3s ease;
}
.jf_button a:hover{
    background-color: rgba(50,50,50,0);
}
